type project
owners
    Bart Wijnants
authors 
    Bart Wijnants
projectUrl
    http://github.com/bartw/nancyskills
iconUrl
    https://raw.githubusercontent.com/bartw/nancyskills/master/docs/files/img/logo.png
licenseUrl
    http://github.com/bartw/nancyskills/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    
description
    Description not set


